UI.assets
outtro.mp4
overlay.png
processed_videos/*
stitchTogetherClips.py
videos_to_process/*
processed_original_videos/*
Hitsound_ShieldBreak.wav
Music_Elimination_Win.wav
Music_RoundEnd_Victory_Stinger.wav
extracted_audio.wav
intro.mkv
intro.wav
storage